@import "../../../scss/base/variables";

.card {
    background: lighten($grey, 10%);
    color: #fff;
    width: 30%;
    font-family: $font;
    margin-bottom: 20px;
    &-wraper {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .mat-card-subtitle {
        color: #fff;
    }
    .mat-card-actions {
        text-align: center;
    }
    &__btn {
        background-color: $blue;
        font-family: $font;
        text-transform: uppercase;
    }
}
.filter-wrap {
    text-align: right;
    &__btns {
        text-align: right;
        margin-bottom: 10px;
        button {
            background-color: $grey;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
