@import "../../../scss/styles.scss";
.window {
    position: relative;
    &__close {
        @include pos($r: 0, $t: 0);
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            color: $blue;
        }
    }
}
